<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-xl-12">
            <input type="text" class="form-control" [(ngModel)]="carName">
            <button class="btn btn-primary" (click)="addCar()" >Добавить машину</button>
            <p *ngIf="!addCarStatus; else sucStatus">Car not added</p>
            <ng-template #sucStatus>
              <p>Car added</p>
            </ng-template>
            
            <hr>
            <app-car></app-car>
            <app-car></app-car>

            <hr>
        </div>
    </div>
</div>
